@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.app {
  font-family: 'Mate SC', serif;
}

.homeheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 500px;
  background-image: url('https://i.imgur.com/kyiYyF3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.middlecontdesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 150%;
  text-align: center;
}

.homenav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
}

.getstartedform {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.title {
  color: red;
  font-weight: 900;
  text-decoration: none;
  width: 50%;
}

.title:hover {
  cursor: pointer;
}

.t {
  text-decoration: none;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;

}

.signuphp {
  margin: 70px 0;
  font-size: xxx-large;
}

.siteperkscont {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.spacer {
  width: 50%;
}

.perkone, .perkthree, .perkfive {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.perkonecontent, .perkfivecontent, .perkthreecontent {
  border-left: 5px solid white;
  color: white;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.p1p, .p3p, .p5p {
  margin-left: 10%;
  font-size: xx-large;
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}


.perktwo, .perkfour {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.perktwocontent, .perkfourcontent {
  border-right: 5px solid white;
  color: white;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.p2p, .p4p {
  width: 30%;
  font-size: xx-large;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.overlord {
  margin: 0px;
  width: 350px;
  height: 200px;
  border-radius: 10%;
  margin-right: 5%;
}

.free {
  margin: 0px;
  width: 200px;
  height: 200px;
  margin-left: 30%;
}

.signuptitle {
  color: white;
  text-align: center;
}

.signupcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupform {
  display: flex;
  flex-direction: column;
}

.logincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginform {
  display: flex;
  flex-direction: column;
}

.logintitle {
  color: white;
  text-align: center;
}

.newmovieformcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.newmovieform {
  display: flex;
  flex-direction: column;
}

.addfilmtitle {
  color: white;
}

.filmscontainer {
  display: flex;
  padding: 30px 100px;
  flex-wrap: wrap;
}

.films {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 0;
  flex-wrap: wrap;
}

.moviecover {
  width: 300px;
  height: 180px;
  margin-bottom: 0;
  border-radius: 10%;
  margin-top: 0%;
}

.movietitle {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: x-large;
}

.moviedesc {
  color: white;
  text-align: center;
  font-size: large;
  margin-top: 5px;
}

.movie:hover {
  cursor: pointer;
}

.movierating {
  color: white;
  margin: 0;
  text-decoration: none;
}

.movie {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 18%;
  align-items: center;
  text-decoration: none;
  text-align: center;
  margin-bottom: 75px;
  margin-left: 30px;
}

.movie:last-child {
  align-items: flex-end;
}

.movieframe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.moviepagescreen {
  box-shadow: 5px 13px 5px 5px rgba(0, 0, 0, .5) ;
}

.moviepagetitle {
  color: white;
  margin-left: 4%;
  margin-bottom: 0;
}

.rating {
  color: white;
}

.movieinfo {
  width: 30%;
  background-color: rgba(255, 0, 0);
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

.movieplayscreen {
  display: flex;
  flex-direction: column;
}

.tagcontainer {
  display: flex;
  flex-direction: row;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: darkslategray;
  width: 20%;
  border-radius: 15%;
  margin: 3px;
  padding: 2px 0 0 0;
}

.undecorate {
  color: black;
  padding-top: 0;
  margin: 0 auto;
}

.pfwhite {
  color: white;
}

.profilecontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pform {
  text-align: center;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  [class*="movie"] {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }

  [class*="filmscontainer"] {
    /* width: 95%; */
    padding: 15%;
  }

  [class*="homenav"] {
    padding-left: 50px;
  }

  [class*=middlecontentdesc] {
    padding: 0 20px;
  }

  [class*=getstartedform] {
    padding: 0 20px;
  }

  [class*=p1p] {
    font-size: large;
  }

  [class*=p2p] {
    font-size: large;
  }

  [class*=p3p] {
    font-size: large;
  }

  [class*=p4p] {
    font-size: large;
  }

  [class*=p5p] {
    font-size: large;
  }

  [class*=free] {
    margin-top: 10%;
    width: 100px;
    height: 100px;
  }

  [class*=overlord] {
    width: 100px;
    height: 100px;
    margin-top: 10%;
  }

  [class*=homeheader] {
    background-image: none;
  }

  [class*=homenav] {
    padding: 0 10px;
  }

  [class*=moviepagescreen] {
    width: 450px;
    height: 350px;
  }

  [class*=movieinfo] {
    margin-top: 0;
    width: 60%;
  }

  [class*=moviepagetitle] {
    margin-left: 22px;
  }
}